* {
  box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body{/* cadrage de la page*/
    margin: 40px;
    margin-top: 0px;
}
header{
  display: flex;
  flex-direction: column;
  align-content: space-between;  
}
nav{ /* positionnement du header*/
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
img{ /* taille du logo*/
    display: flex;
   height: 40px;
}
ul{ /* cadrage de la navigation*/
  display: flex; 
  height: 100%;
  margin: 0;
  width:30%;
    list-style: none;
    justify-content: space-around;
}
li{/* mise en page des raccourcis*/
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around; 
}
a {
  color: inherit;
  text-decoration: none;
}
ul li:hover{ /* dynamique des raccourcis*/
  border-top: 3px solid #0065fc;
  color: #0065FC;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  ul li:hover{
    border-top: none;
    border-bottom: 3px solid #0065fc; 
    width: 100%; 
  }
  nav{
    width: 100%;
    height: auto;
    justify-content: center ;
  }
  ul{
    width: 100%;
    justify-content: center;
    
  }
  li{
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #F2F2F2;
  }
  img{
    width: auto;
  }
}
.search{ /* container barre de recherche*/
    display: flex;
    height: 50px;
    width: auto;
    justify-content: left;    
}
.fa-location-dot{ /*paramètre du bloc icone*/
    display: flex;
    position: relative;
    background-color:#F2F2F2;
    height: 100%;
    width:50px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 0 12px;
    padding-left: 20px;
    padding-top: 15px;
}
form{ /* paramètre du bloc de saisie ville*/
  display: flex;
  padding-left: 15px;
  position: relative;
  font-size: 18px;
  width: auto;
  height : 100%;
  align-items : center;
  border-top: solid 2px #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 0 12px 12px 0;
}
.ville{ /* paramètre du cadre de la barre de rechcerche*/
  width: 100%;
  font-size: 100%;
  font-weight: bold;
  border: transparent;
}
.button{/* paramètre du bloc rechercher*/
  display: flex;
  position: relative;
    background-color:#0065FC ;
    height: 50px;
    width: 150px;
    align-items: center;
    border-radius: 0 10px 10px 0;
    margin-right: 0;
    padding-right: 0;
    justify-content: center;
    color: white;
}
.button:hover{
    cursor: pointer;
}
  .fa-magnifying-glass:before, .fa-search:before {/*icone de loupe*/
    content: "\f002";
}
  .button_mobile, .fa-magnifying-glass{
  width: 50px;
  border-radius: 12px;
  background-color: #0065FC;
  color: white;
  border: none;
  height: 50px;
  font-weight: 900;
  font-size: medium;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20%;
  padding-left: 15px;
  padding-top: 15px;
  display: none;
}
h3{
  padding-right: 10px;
  margin-top: 25px;
  margin-bottom: 1px;
  font-weight: 900;
}
ol{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 30px;
  margin-top: 0px;
}
.filtres{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 10px;
}
li.billet, li.corps, li.coeur, li.chien{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 15px;
  padding-right: 15px;
  height: 45px;
  border: 2px solid #F2F2F2;
  border-radius: 45px 45px 45px 45px;
  font-weight: 900;
}
li.chien{
  flex-wrap:nowrap;
  width: 214px;
}
li.billet, li.coeur{
  width: 169px;
}
li.corps{
  width: 133px;
}
.regroupfiltre{
  display: flex;
  justify-content: flex-start;
flex-direction: row;
}
#billet,#corps,#coeur,#chien{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  background-color: #DEEBFF;
  border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.info{
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: auto;
}
.i{
  color: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #F2F2F2;
  margin-right: 5px;
  border-radius: 50%;
    height: 35px;
    width: 35px; 
}
@media screen and (max-width: 992px) {
  .button{
    display: none;
  }
  .filtres{
    flex-direction: column;
    justify-content: flex-start;
  }
  ol{
    display: block;
    align-content: flex-start;
    flex-wrap: wrap;
  } 
.héberg-popul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}