* {
  box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body{/* cadrage de la page*/
  margin-top: 0px;
  max-width: 1400px;
  padding-inline: 40px;
}
.entete{/* parametre du header*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;  
}
.navig{ /* parametre du haut de page navigation*/
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
img{ /* taille du logo*/
  display: flex;
  width: 70px;
  height: 40px;
}
.selection{ /* cadrage de la navigation*/
  display: flex; 
  height: 100%;
  margin: 0;
  width:30%;
  list-style: none;
  justify-content: space-around;
  border-bottom: 3px solid transparent;
}
.choixselect{/* mise en page des raccourcis*/
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid transparent;
}
.liennav {/* parametre du lien*/
  color: inherit;
  text-decoration: none;
}
.choixselect:hover{ /* dynamique des raccourcis*/
  border-top: 3px solid #0065fc;
  color: #0065FC;
  cursor: pointer;
}
h1{/* parametre du titre*/
  font-size: 22px;
  line-height: 26px;
}
.search{ /* container barre de recherche*/
  display: flex;
  height: 50px;
  width: auto;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 25px; 
}
i.fa-location-dot{ /*paramètre du bloc icone*/
  display: flex;
  background-color:#F2F2F2;
  height: 100%;
  width:50px;
  justify-content: center;
  align-items: center;
  border-radius: 12px 0 0 12px;
}
form{ /* paramètre du bloc de saisie ville*/
  display: flex;
  padding-left: 5px;
  position: relative;
  font-size: 18px;
  width: auto;
  height : 100%;
  align-items : center;
  border-top: solid 2px #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 0 12px 12px 0;
}
.ville{ /* paramètre du cadre de la barre de rechcerche*/
  width: 100%;
  font-size: 100%;
  font-weight: 900;
  border: transparent;
}
.button{/* paramètre du bloc rechercher*/
  background-color:#0065FC;
  height: 50px;
  align-items: center;
  border-radius: 0 10px 10px 0;
  color: white;
  padding-inline: 4%;
}
.button:hover{/* parametre du survol*/
  cursor: pointer;
}
i.loupe{/*bouton de la barre de recherche loupe*/
  width: 50px;
  border-radius: 12px;
  background-color: #0065FC;
  color: white;
  height: 50px;
  font-weight: 900;
  font-size: medium;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
}
.filtres{/* parametre du bloc filtre*/
  display: flex;
  height: auto;
  flex-direction: row;
  gap: 5%;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.titrefiltre{/*positionnement du titre filtres*/
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 900;
}
.logo{/* parametre des image des filtres*/
  color: #0065fc;
  background-color:transparent;
  padding-right: 10px;
}
.bulle{/* parametre de la bulle des filtres*/
  display: flex;
  height: 50px;
  border: 3px solid #F2F2F2;
  padding: 10px;
  border-radius: 45px;
  width: auto;
}
.bulle:hover{/* parametre du survol des bulles*/
  background-color: #DEEBFF;
  cursor: pointer;
}
.nomfiltre{/* parametre du nom des filtres*/
  height: 10px;
  font-weight: 400;
}
.info{/* parametre du texte info*/
  display: flex;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 95%;
}
i.logi{/* parametre du logo info*/
  color: #0065fc;
  align-items: center;
  justify-content: center;
  border: 4px solid #F2F2F2;
  padding-top: 5px;
  padding-left: 10px;
  margin-right: 5px;
  border-radius: 50%;
    height: 35px;
    width: 35px; 
}
.bloccard{/* parametre du bloc contenant hebergements et populaires*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  }
.bloc-heberg{ /*bloc gris hébergement*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 626px;
  background-color: #F2F2F2;
  border-radius: 20px;
  gap: 5%;
  width: 67%;
}
.cardheberg{ /*container des cards*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3%;
  flex-wrap: wrap;
  height: 67%;
}
.bloc-heberg h2 {/* parametre du titre du bloc heberg*/
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-left: 40px;
}
.liencard{/* parametre du lien des card*/
  color: inherit;
  text-decoration: none;
  width: 30%;
}
.card-cannebiere{ /* une card*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 199px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transition: all 400ms;
}
.image-container{ /* cadre photo*/
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
  padding: 4px 4px 0 4px;
}
.image-container img{ /* photo*/
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 124px;
  object-fit: cover;
}
.card-body-heberg{ /*carte renseignement*/
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4px;
}
.card-body-heberg h4, .card-body-heberg p, .card-etoile-heberg{/* parametre des renseignements*/
  margin: 0;
  padding-left: 16px;
}
.card-body-heberg h4{/* parametre du titre des renseignements*/
  font-weight: 900;
  font-size: 16px;
}
.lien{/* parametre du lien en fin de bloc hebergement*/
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 28px;
  margin-left: 24px;
  font-weight: 900;
  cursor: pointer;
}
.lien a:hover{/* parametre du lien en survol*/
  color: #0065fc;
}
.bloc-populaires{ /* bloc gris populaires*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 30%;
}
.cardpop{ /*container des cards*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloc-populaires h2{/* parametre du titre du bloc populaires*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 12px;
  padding-left: 27px;
  padding-right: 37px;
}
.bloc-populaires h2 img{/* parametre du logo à coté du titre populaire*/
  color: #0065fc;
  width: 35px;
  height: 20px;
}
.liencardpop{/* parametre du lien des card populaires*/
  color: inherit;
  text-decoration: none;
}
.card-soleil-matin{ /* une card*/
  margin-inline: 20px;
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: 144px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transition: all 400ms;
}
.card-image-pop{ /* cadre photo*/
  min-width: 42%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  padding: 4px 0 4px 4px;
}
.card-image-pop img{ /* photo*/
  border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body-pop{ /*carte renseignement*/
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.card-body-pop h4, .card-body-pop p, .card-etoile-pop{/* parametre des renseignement*/
  margin: 0;
  padding-left: 15px;
  flex-wrap: wrap;
}
.card-body-pop h4{/* parametre du titre des renseignements*/
  margin-top: 10px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
}
.card-body-pop p{/* parametre du prix des renseignements*/
  font-size: 14px;
  line-height: 16px;
}
.card-etoile-pop{/* parametre des étoiles */
  margin-top: auto;
  margin-bottom: 12px;
}
/* parametres étoiles*/
span{
  font-weight: 900;
}
span.fa-solid{
  color: #0065fc;
  font-size: 12px;
}
span i.fa-solid{
  color: #DEEBFF;
  font-size: 12px;
}
.card-cannebiere:hover, .card-soleil-matin:hover, .card-vieuxport:hover{/* parametre de l'effet du survol des card*/
  transform:scale(1.07);
  cursor: pointer;
}
.zactivites h2{/* parametre du titre activités*/
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 900;
}
.bloc-activites{/*bloc gris activités*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 20px;
  margin: 18px 0 61px 0;
  width: 100%;
  justify-content: space-between;
}
.card-vieuxport{/* une card*/
  display:flex ;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transition: transform 400ms;
}
.liencardactiv{/* parametre du lien*/
  width: 23%;
  text-decoration: none;
  color: inherit;
}
.image-container-activ{ /* cadre photo*/
  width: 100%;
  height: 81%;
  max-height: 389px;
  border-radius: 20px 20px 0 0;
}
.image-container-activ img{ /* photo*/
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body-activ{/*carte renseignement*/
  height: 56px;
  align-items: center;
  padding-left: 19px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.card-body-activ h4{/* parametre du titre*/
  font-weight: 900;
  font-size: 16px;
}
.view-mobile{/*card visible uniquement en mobile*/
  display: none;
}
.pied-page{/* parametre du pied de page*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F2F2F2;
  width: 100%;
  max-height: 225px;
}
.colone{/* parametre des 3 colones*/
  width: 33%;
}
.titrepiedpage{/* parametre des titres des colones*/
  height: 21px;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  list-style: none;
}
.lienpiedpage{/* parametre du lien*/
  list-style: none;
}
.lienpiedpage:hover{/* parametre du header*/
  cursor: pointer;
  color: #0065fc;
}
         /* TABLETTES*/
@media screen and (max-width: 991px) {
  .button{
    display: none;
  }
  I.loupe{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filtres{
    width: 96%;
  }
  .bulle{
    margin-bottom: 10px;
  }
  .bloc-heberg, .cardheberg, .card-cannebiere{
    width: 100%;
  }
  .image-container img{ /* photo*/
    object-fit: cover;
  }
  .bloc-populaires{
    width: 100%;
    margin-top: 20px;
  }
  .cardpop{
    flex-direction: row;
    margin-bottom: 47px;
    justify-content: space-evenly;
  }
  .liencardpop{
    width: 30%;
  }
  .card-soleil-matin{
    width: 100%;
    margin: 0;
  }
  .card-image-pop{
    min-width: 45%;
  }
  .card-body-pop h4{
    margin-top: 12px;
  }
  .card-body-pop h4, .card-body-pop p, .card-etoile-pop{
    padding-left: 2%;
  }
} 
              /*MOBILES*/
@media screen and (max-width: 767px) {
  body{
  margin: 0;
  padding-inline: 0;
  }
  .titre, .search, .filtres, .info{
  margin-left: 14px;
  }
  .search, .bulle{
    margin-inline: auto;
  }
  .choixselect:hover{
    border-top:none;
    border-bottom: 3px solid #0065fc; 
    width: 100%; 
    padding-top: 3px;
  }
  .navig{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .selection{
    width: 100%;
    padding-top: 20px;
    justify-content: center;
  }
  .choixselect{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #F2F2F2;
  }
  img{
    width: auto;
  }
  .titrefiltre{
    width: 100%;
    margin-left: 0%;
  }
  .bulle{
    width: 40%;
  }
  .info, .filtres{
    margin-top: 0;
  }
  .bloccard{
    flex-direction: column-reverse;
  }
  .bloc-heberg{
    background-color: white;
    height: auto;
  }
  .bloc-heberg h2{
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .bloc-populaires{
    border-radius: inherit;
    margin-top: 0;
  }
  .card-cannebiere{
  box-shadow: 4px 4px 6px 5px #F2F2F2;
  }
  .cardheberg{
    flex-direction: column;
    height: auto;
    width: 92%;
    margin-inline: auto;
  }
  .liencard{
    width: 100%;
    padding-bottom: 20px;
  }
  .cardpop{
    flex-direction: column;
    margin-inline: auto;
    width: 92%;
  }
  .liencardpop{
    width: 100%;
    padding-bottom: 10px;
  }
  .card-soleil-matin{
    margin-bottom: 11px;
    width: 100%;
  }
  .card-body-pop{
    gap: 10%;
  }
  .zactivites h2{
    padding-left: 20px;
  }
  .bloc-activites{
    flex-direction: column;
    width: 92%;
    margin-inline: auto;
  }
  .liencardactiv{
    width: 100%;
  }
  .card-vieuxport{
    width: 100%;
    max-height: 190px;
    margin-top: 24px;
  }
  .image-container-activ{
    max-height: 70%;
    height: 134px;
  }
  .view-mobile{
    display: flex ;
  }
  .pied-page{
    flex-direction: column;
    max-height: none;
    padding-left: 10px;
  }
  .colone{
    width: 100%;
  }
}