* {
  box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body{/* cadrage de la page*/
    margin: 40px;
    margin-top: 0px;
    max-width: 1440px;
    max-height: 1884px;
}
header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;  
}
nav{ /* positionnement du header*/
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
img{ /* taille du logo*/
    display: flex;
    width: 70px;
    height: 40px;
}
ul{ /* cadrage de la navigation*/
  display: flex; 
  height: 100%;
  margin: 0;
  width:30%;
    list-style: none;
    justify-content: space-around;
    border-bottom: 3px solid transparent;
}
li{/* mise en page des raccourcis*/
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li:hover{ /* dynamique des raccourcis*/
  border-top: 3px solid #0065fc;
  color: #0065FC;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  body{
    margin: 0;
  }
  ul li:hover{
    border-top:none;
    border-bottom: 3px solid #0065fc; 
    width: 100%; 
    padding-top: 3px;
  }
  nav{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  ul{
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    
  }
  li{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #F2F2F2;
  }
  img{
    width: auto;
  }
  h1, p, .search, h3, .filtres{
    margin-left: 20px;
  }
  h3{
    width: 100%;
    margin-left: 0%;
  } 
}
.search{ /* container barre de recherche*/
    display: flex;
    height: 50px;
    width: auto;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 25px; 
}
i.fa-location-dot{ /*paramètre du bloc icone*/
    display: flex;
       background-color:#F2F2F2;
    height: 100%;
    width:50px;
    justify-content: center;
    align-items: center;
    border-radius: 12px 0 0 12px;
}
form{ /* paramètre du bloc de saisie ville*/
  display: flex;
  padding-left: 5px;
  position: relative;
  font-size: 18px;
  width: auto;
  height : 100%;
  align-items : center;
  border-top: solid 2px #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 0 12px 12px 0;
}
.ville{ /* paramètre du cadre de la barre de rechcerche*/
  width: 100%;
  font-size: 100%;
  font-weight: 900;
  border: transparent;
}
.button{/* paramètre du bloc rechercher*/
    background-color:#0065FC;
    height: 50px;
    align-items: center;
    border-radius: 0 10px 10px 0;
    color: white;
}
.button:hover{
    cursor: pointer;
}
  i.fa-magnifying-glass{/*bouton de la barre de recherche*/
  width: 50px;
  border-radius: 12px;
  background-color: #0065FC;
  color: white;
  height: 50px;
  font-weight: 900;
  font-size: medium;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
}
h3{/*positionnement du titre filtres*/
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 900;
}
.filtres{
  display: flex;
  max-width: 950px;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.fa-money-bill-wave, .fa-child-reaching,.fa-heart,.fa-dog{
  color: #0065fc;
  background-color:transparent;
  padding-right: 10px;
}
.bulle{
  border: 3px solid #F2F2F2;
  padding: 10px;
  border-radius: 45px;
}
.bulle:hover{
  background-color: #DEEBFF;
}
.info{
  display: flex;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: auto;
}
i.fas{
  color: #0065fc;
  align-items: center;
  justify-content: center;
  border: 4px solid #F2F2F2;
  padding-top: 5px;
  padding-left: 10px;
  margin-right: 5px;
  border-radius: 50%;
    height: 35px;
    width: 35px; 
}
@media screen and (max-width: 992px) {
  .button{
    display: none;
  }
  i.fa-magnifying-glass{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bulle{
    margin-bottom: 10px;
  }
  main{
    flex-direction: column-reverse;
  }
  .card-heberg{
    width: 100%;
  }
  .cardheberg{
    width: 100%;
    flex-direction: column;
  }
}
main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 3%;
  }
.card-heberg{ /*card grise hébergement*/
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 60%;
}
.card-heberg h2 {
  font-weight: 900;
  margin: 0;
  padding-top: 42px;
  padding-left: 40px;
}
.cardheberg{ /*bloc de toutes les cards hebergements*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.card-cannebiere{/* 1 bloc card hébergement*/
  display: flex;
  flex-wrap: wrap;
  width: 31%;
  min-height: 199px;
  min-width: 200px;
  background-color: white;
  box-shadow: 0 5px 20px #999;
  border-radius: 20px;
  margin-top: 23px;
}
.image-container{ /* bloc image*/
  display: flex;
  position: relative;
  width: 100%;
  height:60%;
  padding: 2px;
}
.image-container img{ /*l'image*/
  
  width: 99%;
  height: 100%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
}
.card-body-heberg{ /* bloc contenant le nom prix et étoiles*/
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  height: 40%;
  border-radius: 0 0 20% 20%;
  position: relative;
}
.card-body-heberg h4{/* nom de l'hotel*/
  margin: 0;
  position:absolute;
  padding-top: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding-left: 16px;
}
.card-body-heberg p{ /* prix de la nuit*/
  position: absolute;
  margin: 0;
  top: 28px;
  padding-left: 16px;
}
.card-etoile-heberg{ /* nombre d'étoile*/
  position: absolute;
  top: 52px;
  padding-left: 16px;
}
.card-populaires{ /* bloc gris populaires*/
  max-width: 420px;
  width: 29%;
  height: auto;
  background-color: #F2F2F2;
  box-shadow: 0 5px 20px #999;
  border-radius: 20px;
  margin-right: 40px;
}
.card-populaires h2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 900;
  margin: 0;
  padding-top: 41px;
  padding-left: 37px;
  padding-right: 37px;
}
.cardpop{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 37px;
  padding-right: 40px;  
}
.card-soleil-matin{
  display: block;
  width: 343px;
  height: 144px;
  background-color: white;
  box-shadow: 0 5px 20px #999;
  border-radius: 20px;
  margin-top: 26px;
}
.card-soleil-matin:hover{
cursor: pointer;
transform: scale(1.05);
}
.card-image-pop{
  
  height: 94%;
  width: 95%;
  position: relative;
  top: 5px;
  left: 5px;
  bottom: 5px;
  overflow: hidden;
  margin-left: 0;
  border-radius:20px 20px 0 0;
}
.card-image-pop img{
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  position: absolute;
  object-fit: cover;
}
.card-body-pop{
  position: absolute;
  background-color: #FFFFFF;
  top: 0;
  left: 147px;
}
.card-populaires h4{
  position: relative;
  margin: 0;
  width: 169px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  top: 16px;
}
.card-prix-pop{
  position: relative;
  top: 23px;
}
.card-etoile-pop{
  position: relative;
  top: 44px;
}
span{
  font-weight: 900;
}
span.fa-solid{
  color: #0065fc;
  font-size: 12px;
}
span i.fa-solid{
  color: #DEEBFF;
  font-size: 12px;
}